* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background-color: rgb(33, 8, 146);
  background-image: url("../img/landscape-background.jpg");
  background-repeat: repeat;
  position: relative;
  color: red;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 6rem;
  text-shadow: 5px 5px 10px #000000;
}

img {
  border-radius: 250px;
  padding: 30px 30px;
} 

h1 { 
  color:rgb(179, 193, 165);
  font-size: 2rem;
  font: italic;
}

h2 {
  color: coral;
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
  color: rgb(103, 159, 0);
  font-size: 1rem;
  font-family: italic;
}

a:hover {
  background: rgb(186, 128, 4);
}

a {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  color: rgb(255, 192, 192);
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-size: 16px;
  font-variant-numeric: normal;
}

.home {
  color: orange;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

ul {
  display: flex;
  display: right;
  gap: 10rem;
}

li {
  padding: 3rem;
  list-style: none;
}

span {
text-align: center;
color: deeppink;
display: block;
boder:10px solid #000000
margin: 50px;
padding: 50;
float: right;
font-weight: bold;
font-size: 1rem;
box-sizing: 2rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

